<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
            <img alt="logo" height="40"  style="align-items: center;" src="../../assets/imgs/agileDayLogo.jpg" style="float:left;" />
            FeedBack
            <img alt="logo" height="40"  style="align-items: center;" src="../../assets/imgs/atosWorldline.png" style="float:right;width:100px;" />
          
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="container">
            <div class="row">
                <div class="col-sm-4">
<div class="panel widget light-widget panel-bd-top vd_bdt-blue"  *ngFor="let feedbackObj of allFeedback">
<div id="anchor{{feedbackObj.sessionId}}"  class="panel-heading pd-5">
    <a >
        <h5 class="mgbt-xs-5"> {{feedbackObj.description}}</h5>
    </a>
</div>
<div class="panel-body  pd-5">
    <div class="content-list menu-action-right pd-0 ">
        <div class="form-group">

            <ul class="list-wrapper pd-0">
               <div *ngIf="feedbackObj.answerType === 'SINGLE_CHOICE'">
               <li   style="list-style-type: none;" class="pd-0"  *ngFor="let choice of feedbackObj.choices">
                    <div class="menu-action">
                       <label class="radio-inline"> 
                            <input type="radio" class="radio-inline" value="{{choice.number}}" name="{{choice.id}}"  [(ngModel)]="feedbackObj.selectedAnswer">{{choice.description}}
                        </label>
                    </div>
                </li>
            </div>
                 <li *ngIf="feedbackObj.answerType === 'SINGLE_SELECT'" style="list-style-type: none;" class="pd-0">
                         <select  class="form-control" style="font-size:100%" [(ngModel)]="feedbackObj.selectedAnswer" ng-init="feedbackObj.selectedAnswer=0">
                                <option  value="0" >Please Select</option>   
                                <option *ngFor="let rating of feedbackObj.choices" value= "{{rating.number}}" >
                                  {{rating.description}}
                                </option>
                        </select>   
                 </li>
                 <li *ngIf="feedbackObj.answerType === 'LONG_TEXT'" style="list-style-type: none;" class="pd-0">
                       <textarea class="form-control" style="font-size:100%" rows="5"  [(ngModel)]="feedbackObj.selectedAnswer"></textarea>
                </li>
                
             </ul>
        </div>
    </div>
</div>
</div>
<div >

 <button *ngIf="checkfeedbackVisible" class="btn btn-primary btn-lg" (click) = "submitFeedback()" >Submit</button>
<button *ngIf="!checkfeedbackVisible" class="btn btn-default btn-lg" >Submit</button>
</div>
</div>
</div>
</div>
</ion-content>