<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
            <img alt="logo" height="40"  style="align-items: center;" src="../../assets/imgs/agileDayLogo.jpg" style="float:left;" />
            FeedBack
            <img alt="logo" height="40"  style="align-items: center;" src="../../assets/imgs/worldlineLogo.png" style="float:right;" />
          
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <div class="panel widget light-widget panel-bd-top vd_bdt-blue"  *ngFor="let session of allFeedback">
    <div id="anchor{{session.sessionId}}"  class="panel-heading pd-5">
        <a >
            <h5 class="mgbt-xs-5"> {{session.description}}</h5>
        </a>
    </div>
    <div class="panel-body  pd-5">
        <div class="content-list menu-action-right pd-0 ">
            <div>
                <ul class="list-wrapper pd-0">
                    <li style="    list-style-type: none;" class="pd-0"  *ngFor="let question of session.questionOptions">
                        <div class="menu-action">
                             <!-- <input type="radio" class="radio-inline" value={{question.value}}  
                            name="optionId"  [(ngModel)]=question.optionId>{{question.value}}  -->
                            <input type="radio" class="radio-inline" value="{{question.value}}"  name="session.selectedAnswer"  [(ngModel)]=session.selectedAnswer>{{question.value}}
                            
                        </div>
                    </li>
                 </ul>
            </div>
        </div>
    </div>
</div>
{{allFeedback}}
</ion-content>