<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
     
      <ion-title> 
          <img alt="logo" height="40"  style="align-items: center;" src="../../assets/imgs/agileDayLogo.jpg" style="float:left;" />
          Agenda
          <img alt="logo" height="40"  style="align-items: center;" src="../../assets/imgs/atosWorldline.png" style="float:right;width:100px;" />
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
  
      <div class="panel-body overflow">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <td class="allign-middle topicClass">Time Slot</td>
              <td class="allign-middle topicClass">TR02 - Topic/Speaker</td>
              <td class="allign-middle topicClass">TR03 - Topic/Speaker</td>
            </tr>
          </thead>
            <tbody>
            <tr *ngFor="let timeSlotSpecificTopic of timeSlotSpecificTopics">
              <td class="allign-middle">{{timeSlotSpecificTopic.timeSlot}}</td>
              <td class="allign-middle" *ngIf = "timeSlotSpecificTopic.room2 == undefined"  colspan="2"><span class="topicClass">{{timeSlotSpecificTopic.room1}}</span> <span *ngIf="timeSlotSpecificTopic.room1Presenter != undefined"> by <span class="presenterClass">{{timeSlotSpecificTopic.room1Presenter}}</span></span></td>
              <td class="allign-middle" *ngIf = "timeSlotSpecificTopic.room2 != undefined"><span class="topicClass">{{timeSlotSpecificTopic.room1}}</span> by <span class="presenterClass">{{timeSlotSpecificTopic.room1Presenter}}</span></td>
              <td class="allign-middle" *ngIf = "timeSlotSpecificTopic.room2 != undefined"><span class="topicClass">{{timeSlotSpecificTopic.room2}}</span> by <span class="presenterClass">{{timeSlotSpecificTopic.room2Presenter}}</span></td>
            </tr>
            </tbody>
          </table>
       </div>
     
  </ion-content>