<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
        <img alt="logo" height="40"  style="align-items: center;" src="../../assets/imgs/agileDayLogo.jpg" style="float:left;" />
        Video
        <img alt="logo" height="40"  style="align-items: center;" src="../../assets/imgs/worldlineLogo.png" style="float:right;width:100px;" />
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="show-when-demo">
  <div class="panel panel-default">
      <div class="panel-body">
        
        <div class="row" >
          <div *ngFor="let videoObj of allVideos"  class="col-md-4">
              <div class="thumbnail">
                 <iframe width="420" height="366"
                      [src]="getUrlSafe(videoObj.url)" class="img-thumbnail">
                      </iframe >
                    <div class="caption">
                      <p style="height: 30px;"><label style="color: black">Created By</label> - {{videoObj.participants}} </p>
                       <p class=""> 
                          <button *ngIf="checkVideoVoteId(videoObj.id)" class="selectIconcls"></button> 
                          <button *ngIf="isAgileDayVideo" href="#" class="btn btn-info btn-lg "   ngConfirm  [title]="'Confirm'"
                          [message]="'By voting for this video, your earlier vote will be unregistered,are your sure you want to proceed.'"  [options]="options"  (onConfirm)="confirmedVideo(videoObj.id)"  (onCancel)="cancelledVideo()" >
                               <span class="glyphicon glyphicon-thumbs-up"></span> Vote
                          </button>
                          <button *ngIf="!isAgileDayVideo" type="button" class="btn btn-default btn-lg" title="activate on agile day" disabled="disabled">Vote</button>

                        </p> 
                    </div>
                  
              </div>
          </div>
        </div>
</div>
</div>
</ion-content>