page-registration {
    .selectIconcls{
        background-image: url(../../assets/imgs/selectIcon.png); /* 16px x 16px */
        background-color: transparent; /* make the button transparent */
        background-repeat: no-repeat;  /* make the background image appear only once */
        background-position: 0px 0px;
        height:40px;
        width:44px;
        vertical-align: bottom; 
    }
}
