
page-attendance{
.divmiddleallign{
    height:200px;
}
.middleallign{
        margin:auto;
        display:block;
        text-align: center;
      }
.bordered {
    border: 1px solid #dee2e6;
}    
    
}
