<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
          <img alt="logo" height="40"  style="align-items: center;" src="../../assets/imgs/agileDayLogo.jpg" style="float:left;" />
          Attendance
          <img alt="logo" height="40"  style="align-items: center;" src="../../assets/imgs/atosWorldline.png" style="float:right;width:100px;" />
        </ion-title>

    </ion-navbar>
  </ion-header>

  <ion-content padding>
      <div class="divmiddleallign bordered" style="margin-top:150px;">
        &nbsp;&nbsp;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
        <form #userform = "ngForm">
          <label class="middleallign">Input 4 digit number for authentication</label>&nbsp;&nbsp;
          <input  type="password" style="width:200px; font-size:24px;" #code (keyup)="0" class="form-control middleallign" >&nbsp;&nbsp;
          <button *ngIf="attendaceActive" class="btn btn-info middleallign" [disabled] = "code.value != '5789' "  style="font-size: 15px;" (click)="attendence(code)">Click Here to Mark Your Attendence</button>
          <button *ngIf="!attendaceActive" class="btn btn-default btn-lg middleallign" >Click Here to Mark Your Attendence</button>
        </form>
      </div>
     
  </ion-content>